body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.container {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

button {
  padding: 10px 20px;
  border: none;
  background: #22c55e;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

#messageBox {
  margin-top: 20px;
  padding: 15px;
  background: #334155;
  border-radius: 8px;
}

.hidden {
  display: none;
}